<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Encanto</h1>
    <p>Encanto is a 2021 American computer-animated musical fantasy comedy film produced by Walt Disney Animation Studios and distributed by Walt Disney Studios Motion Pictures. The 60th film produced by the studio, it was directed by Jared Bush and Byron Howard, co-directed by Charise Castro Smith, who co-wrote the screenplay with Bush, and produced by Yvett Merino and Clark Spencer, with original songs by Lin-Manuel Miranda.

    The film stars the voices of Stephanie Beatriz, María Cecilia Botero, John Leguizamo, Mauro Castillo, Jessica Darrow, Angie Cepeda, Carolina Gaitán, Diane Guerrero, and Wilmer Valderrama. Encanto follows a multigenerational Colombian family, the Madrigals, led by a matriarch (Botero) whose children and grandchildren—except for Mirabel Madrigal (Beatriz)—receive magical gifts from a miracle that helps them serve the people in their rural community called the Encanto. When Mirabel learns that the family is losing their magic, she sets out to find out what is happening, and save her family and their magical house.
    
    Encanto premiered at the El Capitan Theatre in Los Angeles on November 3, 2021, and was released in the United States and Canadian theatres on November 24 over a 30-day theatrical run in response to the COVID-19 pandemic. It grossed over $252 million worldwide against a $120–150 million budget, and achieved wider commercial success when released onto Disney+ on December 24, 2021. Its soundtrack went viral and reached number one on the US Billboard 200 and UK Compilation Albums charts; "We Don't Talk About Bruno" and "Surface Pressure" were two of its most successful songs, with the former topping both the US Billboard Hot 100 and UK Singles Chart for multiple weeks.
    
    Upon release, Encanto received critical acclaim for its characterization, music, animation, voice acting, emotional depth, and cultural fidelity. Various reviews named magic realism and transgenerational trauma as the film's core concepts. Encanto has received several accolades, winning Best Animated Film category at the Academy Awards, the Golden Globes, the BAFTAs, the Producers Guild of America, and the National Board of Review. Additionally, at the 94th Academy Awards, the track "Dos Oruguitas" by Sebastián Yatra and the film's score were nominated for Best Original Song and Score, respectively.</p>
</body>
</html>